{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
			<a href="/artist/availabilities/create"><button class="btn btn-default btn-lg">Post an availability artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Last 10 Artists recently listed</h2>
		<table class="table">
			<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>City</th>
				<th>State</th>
				<th>Phone</th>
			</tr>
			</thead>
			<tbody>
				{% for artist in artists %}
					<tr>
						<td><a href="/artists/{{ artist.id }}">{{ artist.id }}</a></td>
						<td><a href="/artists/{{ artist.id }}">{{ artist.name }}</a></td>
						<td>{{ artist.city }}</td>
						<td>{{ artist.state }}</td>
						<td>{{ artist.phone }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5" class="text-center"> No data </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Last 10 Venues recently listed </h2>
		<table class="table">
			<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>City</th>
				<th>State</th>
				<th>Address</th>
				<th>Phone</th>
			</tr>
			</thead>
			<tbody>
				{% for venue in venues %}
					<tr>
						<td><a href="/venues/{{ venue.id }}">{{ venue.id }}</a></td>
						<td><a href="/venues/{{ venue.id }}">{{ venue.name }}</a></td>
						<td>{{ venue.city }}</td>
						<td>{{ venue.state }}</td>
						<td>{{ venue.address }}</td>
						<td>{{ venue.phone }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6" class="text-center"> No data </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}